/* __________styles.css__________ */

/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________Colour Scheme__________*/


:root {
/* HSL from Northern Lights Bg */
--t1-light-gray: rgb(230, 241, 241);
--t1-eggplant-dark: rgb(51, 43, 53);
--t1-eggplant: hsla(286, 10%, 34%, 1);
--t1-eggplant-light: rgb(117, 100, 123);
--t1-eggplant-pale:rgb(150, 128, 158);
--t1-lavender: rgb(202, 202, 202);
--t1-pale-pink: rgb(245, 245, 245);

/* HSL from Blue Wave Bg */
--t2-non-photo-blue-dark: rgb(102, 170, 197);
--t2-non-photo-blue: hsla(197, 75%, 81%, 1);
--t2-non-photo-blue-pale: rgb(208, 242, 255);
--t2-picton-blue: hsla(202, 80%, 58%, 1);
--t2-picton-blue-dark: rgb(26, 105, 150);
--t2-azure-web: hsla(180, 100%, 97%, 1);

/* HSL from Work Station Bg */
--t3-davys-gray: hsla(60, 1%, 30%, 1);
--t3-cambridge-blue-dark: rgb(43, 112, 92);
--t3-cambridge-blue: hsla(163, 27%, 56%, 1);
--t3-cambridge-blue-light: rgb(211, 232, 226);
--t3-cambridge-blue-pale: rgb(228, 244, 239);
--t3-blue-gray-light: rgb(223, 246, 242);
--t3-ash-gray-light: hsla(165, 21%, 82%, 1);
}


/*__________Root Styles__________*/

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 180px), 1fr) 80px;
    grid-template-columns: 300px 1fr 50px;
    /* width: minmax(600px, 100vw) */
}

/*__________Themes (x3)__________*/
/*__________Theme 1 - Northern Lights__________*/

body.northern-lights {
    background-color: black;
}

.northern-lights input[type="text"],
.northern-lights textarea {
    background-color: var(--t1-pale-pink);
    box-shadow: 1px 1px 3px 0px var(--t1-eggplant-pale)
}

.northern-lights select,
.northern-lights input[type="date"] {
    /* border: 1px solid var(--t1-eggplant-light); */
    background-color: var(--t1-pale-pink);
    box-shadow: 1px 1px 3px 0px var(--t1-eggplant-pale)
}

.northern-lights .icon {
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(88%) contrast(91%);
}

.northern-lights .title h1 {
    color: var(--t1-pale-pink);  
}

.northern-lights .project-header div {
    border-bottom: 1px solid var(--t1-lavender);
}

.northern-lights .project-header h2 {
    color: var(--t1-pale-pink);  
}

.northern-lights .project-header button {
    /* border: 3px solid var(--t1-eggplant-light); */
    background-color: var(--t1-eggplant);
    color: var(--t1-pale-pink);
    box-shadow: 1px 1px 3px 0px var(--t1-lavender);
}

.northern-lights .date-display p {
    color: var(--t1-pale-pink);
}

.northern-lights .left-sidebar {
    background-color: black;
}

.northern-lights .left-sidebar button {
    background-color: var(--t1-eggplant);
    color: var(--t1-pale-pink);
    box-shadow: 2px 2px 4px 0px black;
}

.northern-lights .left-sidebar nav:first-child,
.northern-lights .left-sidebar nav:nth-child(2),
.northern-lights .left-sidebar .themes {
    /* static project nav section
    and user created project section */
    background-color: var(--t1-eggplant-dark);
    color: var(--t1-pale-pink);
}

.northern-lights .left-sidebar button.active {
    background-color: var(--t1-lavender);
    color: black;
    box-shadow: 2px 2px 4px 0px black;
}

.northern-lights dialog {
    background-color: var(--t1-lavender); 
}

.northern-lights input[type="text"]:focus,
.northern-lights input[type="date"]:focus,
.northern-lights textarea:focus,
.northern-lights select:focus {
    box-shadow: 2px 2px 4px 0px var(--t1-eggplant);
}

.northern-lights dialog::backdrop {
    background-color: black;
    opacity: 0.3;
}

.northern-lights dialog button {
    background-color: var(--t1-eggplant);
    color: var(--t1-pale-pink);
}

.northern-lights #delete-warning .wrapper-div {
    background-color: var(--t1-pale-pink);
    box-shadow: 1px 1px 3px 0px var(--t1-eggplant-pale)
}

.northern-lights #delete-warning input[type="radio"] {
    border: 2px solid var(--t1-eggplant);
}

.northern-lights #delete-warning input[type="radio"]::before {
    background-color: var(--t1-eggplant-light);
}

.northern-lights .bg-img {
    background-image: url('../img/northern-lights.jpg');
    opacity: 0.6;
}

.northern-lights .complete-view.active,
.northern-lights .tasks-done.active,
.northern-lights .project-empty.active {
    background-color: var(--t1-light-gray);
    border: 10px solid var(--t1-lavender);
    color: var(--t1-eggplant-dark);

}

.northern-lights .task-div {
    /* dark purple colour scheme */
    background: linear-gradient(to bottom right, var(--t1-eggplant), var(--t1-eggplant));
    box-shadow: 3px 3px 6px 0px black;
}

.northern-lights .task-div input[type="checkbox"] {
    /* border: 1px solid var(--t1-eggplant-dark); */
    color: var(--t1-eggplant-dark);
    background-color: var(--t1-lavender);
    box-shadow: 1px 1px 3px 0px black;
}

.northern-lights .task-div input[type="checkbox"]::before {
    color: var(--t1-eggplant-dark); 
}

.northern-lights .task-div h3 {
    color: var(--t1-pale-pink);
}

.northern-lights .task-div label {
    /* all individual details div labels */
   color: var(--t1-pale-pink);
}

.northern-lights .task-div .details select,
.northern-lights .task-div .details input[type="date"] {
    /* border: 2px solid var(--t1-eggplant); */
    box-shadow: 1px 1px 3px 0px var(--t1-eggplant-dark);
    background-color: var(--t1-lavender);
}

.northern-lights .task-div.expanded div:nth-child(6) {
    /* description div (expanded)*/
   background-color: var(--t1-lavender);
   box-shadow: 2px 2px 4px 0px var(--t1-eggplant-dark)
}

.northern-lights .task-div.expanded div:nth-child(6) label {
   color: var(--t1-eggplant-dark);
}

/* .northern-lights .task-div.expanded div:nth-child(6) textarea {
   background-color: var(--t1-pale-pink);
} */

.northern-lights .task-div.expanded .user-checklist-div {
    /* Outer div */
    background-color: var(--t1-lavender);
    box-shadow: 2px 2px 4px 0px var(--t1-eggplant-dark)
}

.northern-lights .task-div legend {
    color: var(--t1-eggplant-dark);
}

.northern-lights .task-div li input[type="checkbox"] {
    border: 1px solid var(--t1-eggplant);
    box-shadow: none;
}

.northern-lights .task-div li {
    /* list items */
    background-color: var(--t1-pale-pink);
    box-shadow: 1px 1px 3px 0px var(--t1-eggplant-pale)
}

.northern-lights .task-div li.item-complete::before {
    background-color: var(--t1-lavender);
    opacity: 0.4;
}

.northern-lights .task-div li label {
    color: var(--t1-eggplant);
}

.northern-lights #content .user-checklist-div li > button {
    border: 1px solid var(--t1-eggplant);
    background-color: var(--t1-lavender);
}

.northern-lights .user-checklist-div > button {
    /* Outer div > add-button */
    /* border: 1px solid var(--t1-eggplant); */
    box-shadow: 2px 2px 4px 0px black;
    background-color: var(--t1-eggplant-light);
    color: var(--t1-pale-pink);
}

.northern-lights .right-sidebar {
    background-color: black; 
}

.northern-lights .footer-wrapper {
    background-color: black;
}

.northern-lights .footer-text {
    color: var(--t1-pale-pink);
}


/*__________Theme 2 - Blue Wave__________*/

body.blue-wave {

    /* dark */
    /* background-color: var(--t2-picton-blue-dark); */

    /* light */
    background-color: white;

}

.blue-wave input[type="text"],
.blue-wave textarea {
    background-color: var(--t2-azure-web);
    box-shadow: 1px 1px 3px 0px black;
}

.blue-wave select,
.blue-wave input[type="date"] {
    background-color: var(--t2-azure-web);
}

.blue-wave .icon {
    /* filter: invert(31%) sepia(99%) saturate(452%) hue-rotate(158deg) brightness(91%) contrast(90%); */

    /* filter: invert(64%) sepia(16%) saturate(1019%) hue-rotate(152deg) brightness(96%) contrast(88%); */

    /* filter: invert(27%) sepia(9%) saturate(2307%) hue-rotate(152deg) brightness(93%) contrast(90%); */

    filter: invert(34%) sepia(34%) saturate(455%) hue-rotate(151deg) brightness(93%) contrast(91%);
}

.blue-wave .title h1 {
    color: black;
}

.blue-wave .project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-wave .project-header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue-wave .project-header h2 {
    margin-bottom: 0px;
}

.blue-wave .project-header button {
    margin-bottom: 0px;
}

.blue-wave .project-header button {
    background-color: var(--t2-non-photo-blue-pale);
    color: black;
    box-shadow: 2px 2px 4px 0px black;
}

.blue-wave .date-display p {
    color: black;
}

.blue-wave .left-sidebar {
    /* dark */
    /* background-color: var(--t2-picton-blue-dark) */

    /* light */
    background-color: white;
}

.blue-wave .left-sidebar nav:first-child,
.blue-wave .left-sidebar nav:nth-child(2),
.blue-wave .left-sidebar .themes {
    /* static project nav section
    and user created project section */
    background-color: var(--t2-non-photo-blue);
    color: black;
    box-shadow: 1px 1px 3px 0px var(--t2-picton-blue-dark)
}

.blue-wave .left-sidebar button {
    background-color: var(--t2-azure-web);
    color: black;
    box-shadow: 1px 1px 3px 0px black;
}

.blue-wave .left-sidebar button.active {
    background-color: var(--t2-picton-blue-dark);
    color: var(--t2-azure-web);
    box-shadow: 2px 2px 4px 0px black;
}

.blue-wave dialog {
    background-color: var(--t2-non-photo-blue-pale); 
}

.blue-wave dialog input[type="text"],
.blue-wave dialog input[type="date"],
.blue-wave dialog select,
.blue-wave dialog textarea {
    background-color: white;
    box-shadow: 1px 1px 3px 0px black;
}

.blue-wave input[type="text"]:focus,
.blue-wave input[type="date"]:focus,
.blue-wave textarea:focus,
.blue-wave select:focus {
    box-shadow: 2px 2px 4px 0px black;
}

.blue-wave dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

.blue-wave dialog button {
    background-color: var(--t2-picton-blue-dark);
    color: var(--t2-azure-web);
}

.blue-wave #delete-warning .wrapper-div {
    background-color: var(--t2-azure-web);
    box-shadow: 1px 1px 3px 0px var(--t2-picton-blue)
}

.blue-wave #delete-warning input[type="radio"] {
    border: 2px solid var(--t2-picton-blue);
}

.blue-wave #delete-warning input[type="radio"]::before {
    background-color: var(--t2-picton-blue-dark);
}

.blue-wave #bg-img-wrapper{
    background-color: white;
    border-radius: 15px;
}

.blue-wave .bg-img {
    background-image: url('../img/blue-wave.png');
    background-size: 104% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    border-radius: 15px;
}

.blue-wave .complete-view.active,
.blue-wave .tasks-done.active,
.blue-wave .project-empty.active {
    background-color: white;
    border: 10px solid var(--t2-non-photo-blue-pale);
    color: black;
}

.blue-wave .task-div {
    /* dark purple colour scheme */
    /* background: linear-gradient(to bottom right, white, var(--t2-non-photo-blue)); */
    background-color: white;
    box-shadow: 3px 3px 6px 0px var(--t2-picton-blue-dark)
}

.blue-wave .task-div input[type="checkbox"] {
    border: 0px solid var(--t2-picton-blue-dark);
    color: var(--t2-picton-blue-dark);
    background-color: var(--t2-azure-web);
    box-shadow: 1px 1px 3px 0px var(--t2-picton-blue);
}

.blue-wave .task-div input[type="checkbox"]::before {
    color: var(--t2-picton-blue-dark); 
}

.blue-wave .task-div h3 {
    color: black;
}

.blue-wave .task-div label {
    /* all individual details div labels */
   color: var(--t2-picton-blue-dark)
}

.blue-wave .task-div .details select,
.blue-wave .task-div .details input[type="date"] {
    /* border: 3px solid var(--t2-picton-blue); */
    background-color: var(--t2-azure-web);
    box-shadow: 1px 1px 3px 0px var(--t2-non-photo-blue-dark);
}

.blue-wave .task-div.expanded div:nth-child(6) {
    /* description div (expanded)*/
   background-color: var(--t2-non-photo-blue-pale);
   box-shadow: 1px 1px 3px 0px var(--t2-picton-blue-dark);
}

.blue-wave .task-div.expanded div:nth-child(6) label {
   color: black;
}

.blue-wave .task-div.expanded div:nth-child(6) textarea {
   background-color: white;
   box-shadow: 1px 1px 3px 0px var(--t2-non-photo-blue-dark);
}

.blue-wave .task-div.expanded .user-checklist-div {
    /* Outer div */
    background-color: var(--t2-non-photo-blue-pale);
    box-shadow: 1px 1px 3px 0px var(--t2-picton-blue-dark)
}

.blue-wave .task-div legend {
    color: black;
}

.blue-wave .task-div li input[type="checkbox"] {
    border: 1px solid var(--t2-picton-blue-dark);
    box-shadow: none;
    background-color: white;
}

.blue-wave .task-div li {
    /* list items */
    background-color: white;
    box-shadow: 1px 1px 3px 0px var(--t2-non-photo-blue-dark);
}

.blue-wave .task-div li.item-complete::before {
    background-color: var(--t2-non-photo-blue);
    opacity: 0.2;
}

.blue-wave .task-div li label {
    color: black;
}

.blue-wave .task-div li.item-complete label {
    color: gray;
}

.blue-wave #content .user-checklist-div li > button {
    border: 1px solid var(--t2-picton-blue-dark);
    background-color: var(--t2-non-photo-blue);
    color: black;
}

.blue-wave .user-checklist-div > button {
    /* Outer div > add-button */
    /* border: 1px solid black; */
    background-color: var(--t2-picton-blue-dark);
    color: var(--t2-azure-web);
    box-shadow: 2px 2px 4px 0px black;
}

/* .blue-wave .right-sidebar {
    background-color: var(--t2-picton-blue-dark);
} */

.blue-wave .footer-wrapper {
    background-color: white;
}

.blue-wave .footer-icon .icon {

    /* light blue */
    /* filter: invert(93%) sepia(45%) saturate(4315%) hue-rotate(169deg) brightness(100%) contrast(91%); */

    /* med - light */
    filter: invert(83%) sepia(6%) saturate(2628%) hue-rotate(162deg) brightness(99%) contrast(82%);

    /* med - in between */
    /* filter: invert(82%) sepia(5%) saturate(3336%) hue-rotate(165deg) brightness(93%) contrast(86%); */

    /* med blue */
    /* filter: invert(60%) sepia(42%) saturate(372%) hue-rotate(151deg) brightness(96%) contrast(96%); */
}

.blue-wave .footer-text {
    color: black;
}


/* __________Theme 3__________ */

body.work-station {

    /* dark */
    /* background-color: var(--t2-picton-blue-dark); */

    /* light */
    background-color: white;

}

.work-station input[type="text"],
.work-station input[type="date"],
.work-station select,
.work-station textarea {
    background-color: white;
    box-shadow: 1px 1px 3px 0px black;
}

.work-station .title h1 {
    color: black;
}

/* set to both blue wave and work-station */
.work-station .project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-station .project-header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-station .project-header h2 {
    margin-bottom: 0px;
}

.work-station .project-header button {
    margin-bottom: 0px;
}

/* ________________________________ */


.work-station .project-header button {
    background-color: var(--t3-cambridge-blue-dark);
    color: white;
    box-shadow: 2px 2px 4px 0px var(--t3-davys-gray)
}

.work-station .date-display p {
    color: black;
}

.work-station .left-sidebar {
    /* dark */
    /* background-color: var(--t2-picton-blue-dark) */

    /* light */
    background-color: white;
}

.work-station .left-sidebar nav:first-child,
.work-station .left-sidebar nav:nth-child(2),
.work-station .left-sidebar .themes {
    /* static project nav section
    and user created project section */
    background-color: var(--t3-cambridge-blue-light);
    color: black;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray)
}

.work-station .left-sidebar button {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray);
}

.work-station .left-sidebar button.active {
    background-color: var(--t3-cambridge-blue-dark);
    color: white;
    box-shadow: 2px 2px 4px 0px black;
}

.work-station .left-sidebar .icon {
    filter: invert(27%) sepia(6%) saturate(91%) hue-rotate(21deg) brightness(95%) contrast(83%);
}

.work-station dialog {
    background-color: var(--t3-cambridge-blue-light); 
}

/* .work-station dialog input[type="text"],
.work-station dialog input[type="date"],
.work-station dialog select,
.work-station dialog textarea {
    background-color: white;
    box-shadow: 1px 1px 3px 0px black;
} */

.work-station input[type="text"]:focus,
.work-station input[type="date"]:focus,
.work-station textarea:focus,
.work-station select:focus {
    box-shadow: 2px 2px 4px 0px black;
}

.work-station dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

.work-station dialog button {
    background-color: var(--t3-cambridge-blue-dark);
    color: white;
}

.work-station #delete-warning .wrapper-div {
    background-color: white;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray);
}

.work-station #delete-warning input[type="radio"] {
    border: 2px solid var(--t3-cambridge-blue-dark);
}

.work-station #delete-warning input[type="radio"]::before {
    background-color: var(--t3-cambridge-blue-dark);
}

.work-station #bg-img-wrapper{
    background-color: white;
    border-radius: 15px;
}

.work-station .bg-img {
    background-image: url('../img/work-station-resized-2.jpg');
    /* background-size: 104% 100%; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    opacity: 0.3;
    border-radius: 15px;
}

.work-station .complete-view.active,
.work-station .tasks-done.active,
.work-station .project-empty.active {
    background-color: white;
    border: 10px solid var(--t3-cambridge-blue);
    color: black;
}

.work-station .task-div {
    /* dark purple colour scheme */
    /* background: linear-gradient(to bottom right, white, var(--t2-non-photo-blue)); */

    background-color: var(--t3-ash-gray-light);
    box-shadow: 3px 3px 4px 0px var(--t3-davys-gray);
}

.work-station .task-div input[type="checkbox"] {
    border: 0px solid black;
    /* color: black; */
    background-color: white;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray);
}

.work-station .task-div input[type="checkbox"]::before {
    color: var(--t3-davys-gray)
}

.work-station .task-div h3 {
    color: black;
}

.work-station .task-div label {
    /* all individual details div labels */
   color: black;
}

.work-station .task-div .details select,
.work-station .task-div .details input[type="date"] {
    /* border: 3px solid var(--t2-picton-blue); */
    background-color: white;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray)
}

.work-station .task-div.expanded div:nth-child(6) {
    /* description div (expanded)*/
   background-color: var(--t3-cambridge-blue-pale);
   box-shadow: 1px 1px 3px 0px var(--t3-davys-gray)
}

.work-station .task-div.expanded div:nth-child(6) label {
   color: black;
}

.work-station .task-div.expanded div:nth-child(6) textarea {
   background-color: white;
   box-shadow: 1px 1px 3px 0px var(--t3-cambridge-blue);
}

.work-station .task-div.expanded .user-checklist-div {
    /* Outer div */
    background-color: var(--t3-cambridge-blue-pale);
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray);
}

.work-station .task-div legend {
    color: black;
}

.work-station .task-div li input[type="checkbox"] {
    border: 1px solid var(--t3-davys-gray);
    box-shadow: none;
    background-color: var(--t3-blue-gray-light)
}

.work-station .task-div li {
    /* list items */
    background-color: white;
    box-shadow: 1px 1px 3px 0px var(--t3-davys-gray);
}

.work-station .task-div li.item-complete::before {
    background-color: var(--t3-ash-gray-light);
    opacity: 0.2;
}

.work-station .task-div li label {
    color: black;
}

.work-station .task-div li.item-complete label {
    color: gray;
}

.work-station #content .user-checklist-div li > button {
    border: 1px solid var(--t3-davys-gray);
    background-color: var(--t3-blue-gray-light);
    color: black;
}

.work-station .user-checklist-div > button {
    /* Outer div > add-button */
    /* border: 1px solid black; */
    background-color: var(--t3-cambridge-blue-dark);
    color: white;
    box-shadow: 2px 2px 4px 0px black;
}

/* .work-station .right-sidebar {
    background-color: var(--t2-picton-blue-dark);
} */

.work-station .footer-wrapper {
    background-color: var(--t3-cambridge-blue-pale);
}

.work-station .footer-text {
    color: black;
}

/*__________theme-end__________*/

/*__________Base Styles__________*/

input[type="text"] {
    font-size: 1rem;
    outline: 0;
}

input[type="text"],
textarea {
    border: none;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 8px;
}

select,
input[type="date"] {
    border: 0px solid black;
    appearance: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 8px;
}

select {
   /* padding: 2px 5px 2px 5px; */
   width: 100%;
}

input[type="date"] {
    font-family: inherit;
    /* padding: 1px 5px 0px 5px; */
    padding: 3px 8px 2px 8px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    outline: none;
    /* box-shadow: 2px 2px 4px 0px black */
}

/* need to create a container around select elements */
.select-wrapper {
   position: relative;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
}

textarea {
    align-self: center;
    width: 100%;
    padding: 7px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

button {
    font-size: 1.1rem;
    padding: 1px 5px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}

button:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.2s ease;
    cursor: pointer;
}


/*__________Header__________*/

.header {
     /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 300px 1fr 175px; 
}

/* .logo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
} */

.logo img {
    width: 60px;
    height: 60px;
}

.title {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10%;
}

.title h1 {
    font-size: 2rem;
    font-weight: 700; 
}

.project-header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0px 15%;
}

.project-header div {
    display: flex;
    width: clamp(400px, 100%, 800px);
    align-items: flex-end;
    justify-content: space-between;
}

.project-header h2 {
    font-size: 1.8rem;
    font-weight: 700; 
    margin-bottom: 15px;
}

.project-header button {
    /* add task button */
    border: none;
    font-size: 1.2rem;
    padding: 6px 18px 4px 18px;
    border-radius: 6px;
    font-weight: 700;
    margin-left: auto;
    margin-bottom: 18px;
}

.project-header button span {
    margin-right: 12px;
}

.date-display {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-display p {
    font-size: 1.2rem;
    font-weight: 700;
}


/*__________Left Sidebar__________*/

.left-sidebar {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 250px fit-content(200px) fit-content(120px) 1fr;
    padding: 0px 30px;
    gap: 40px;
}

.left-sidebar button {
    padding: 3px 15px 3px 15px;
}

/* .left-sidebar button.active {
    font-weight: 700;
} */

.left-sidebar nav:first-child,
.left-sidebar nav:nth-child(2),
.left-sidebar .themes {
    /* static project nav section
    and user created project section */
    display: flex;
    
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.left-sidebar nav:first-child {
    /* static project nav section */
    margin-top: 20px;
    justify-content: space-evenly;
}

.my-projects {
    /* my projects header */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.my-projects h2 {
    font-size: 1.3rem;
    font-weight: 700;
    /* color: var(--t1-pale-pink); */
    margin-top: 20px;
}

.add-project-btn {
    margin-top: 14px;
}

.user-created-projects {
    display: flex;
    flex-direction: column;
}

.user-created-projects li {
    /* project list items */
    display: flex;
    margin-bottom: 15px;
    padding: 3px 3px;
    
    align-items: center;
    width: 100%;
    height: 22px;
}

.user-created-projects .delete-project-btn {
    /* delete project button */
    margin-left: auto;
    margin-right: 5px;
    padding: 3px 3px;
    display: flex;
    justify-content: center;
}

.themes h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.themes div {
    display: flex;
    justify-content: space-evenly;
}

.themes button {
    margin-bottom: 3px;
}


/*__________Modals (All)__________*/


dialog {
    /* display: flex; */
    width: 450px;
    /* height: auto; */
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -200px;
    border: none;
    border-radius: 10px;
    padding: 25px 20px 15px 20px;
    position: relative;   
}

form {
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 180px;
    row-gap: 12px;
}

.modal-title {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 40px;
}

dialog legend {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 30px;
}

.close-modal {
    font-size: 1.3rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0px 4px 1px 4px;
}

dialog label {
    margin-bottom: 3px;
    font-size: 1.1rem;
}

.save-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.save-div button {
    padding: 5px 14px;
    font-size: 1.1rem;
}


/*__________Add Task Modal__________*/

.add-task {
    width: 500px;
    margin-top: -350px;
    padding: 30px 30px 15px 30px;
}

.add-task form {
    row-gap: 5px;
}

.add-task .inputs {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-rows: repeat(2, 60px) 80px 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.add-task .task-title {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.add-task .project, 
.add-task .due-date,
.add-task .priority {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .select-wrapper {
    width: 100%;
}
 
 .add-task .select-wrapper::after {
    font-size: 1.1rem;
    top: 4px;
    right: 4px;
}

.add-task .description {
    /* row-start / column-start / row-end / column-end */
    grid-area: 3 / 1 / 4 / 2 ;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .checklist-items {
    padding: 5px 5px 0px 5px;
}

.add-task .checklist-inputs {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
}

.add-task .checklist-items label {
    margin-bottom: 15px;
}

.add-task .checklist-inputs {
    margin-top: 3px;
}

.add-task .checklist-inputs input[type="text"] {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.add-task .checklist-items button {
    margin-top: 4px;
    padding: 3px 10px;
}

.add-task .save-div {
    grid-area: 3 / 2 / 4 / 3;
} 



/*__________Add Project Modal__________*/

.add-project {
    width: 450px;
}

/* .add-project form {
    row-gap: 12px;
} */

.project-title {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-project .save-div {
    grid-area: 3 / 2 / 4 / 4;
}


/*__________Delete Project Modal__________*/

#delete-warning {
    width: 560px;
}

#delete-warning form {
    /* grid-template-rows: 30px 1fr 40px; */
    grid-template-columns: 1fr 200px;
    row-gap: 18px;
    color: black;
}

#delete-warning .modal-title {
    margin-bottom: 18px;
}

#delete-warning .wrapper-div {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr fit-content;
    row-gap: 18px;
    border-radius: 6px;
    padding: 20px 10px;
}

#delete-warning .wrapper-div div {
    grid-area: 1 / 1 / 2 / 2;
}

#delete-warning p:first-child {
    margin-bottom: 12px;
}

#delete-warning fieldset {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

#delete-warning label {
    font-size: 1rem;
}

#delete-warning fieldset div:first-child {
    margin-bottom: 10px;
}

#delete-warning fieldset div {
    display: flex;
}

#delete-warning input[type="radio"] {
    appearance: none;
}


#delete-warning input[type="radio"] {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    vertical-align: -2px;
    outline: none;
}

#delete-warning input[type="radio"]::before {
    display: block;
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 6px;
    font-size: 1.2em;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}


#delete-warning input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.56, 2);
    transition-delay: 0s;

}

#delete-warning input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
}

#delete-warning label {
    align-self: center;
    margin-left: 10px;
    margin-top: 5px;
}

#delete-warning .save-div {
    grid-area: 3 / 2 / 4 / 3;
}

/*__________Checklist Modal__________*/

/* #checklist-modal form {
    row-gap: 12px;
} */

#checklist-modal .input {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
} 

#checklist-modal .save-div {
    grid-area: 3 / 2 / 4 / 4;
}


/*__________Main Content__________*/

#bg-img-wrapper {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bg-img {
    width: 100%;
    min-height: 100vh - 100px;
    max-height: 100vh;
    grid-row: 1;
    grid-column: 1;
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #bg-img-wrapper {
change to actual content (task-divs)
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    background: yellow;
} */

/* #bg-img-wrapper::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
} */

#content-wrapper {
    width: 100%;
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    background: transparent;
}

.notices {
    padding: 20px 10%;  
    display: flex;
    justify-content: center;

    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
}

.complete-view,
.tasks-done,
.project-empty {
    display: none;
}

.complete-view.active,
.tasks-done.active,
.project-empty.active {
    display: block;
    width: clamp(400px, 100%, 800px);
    position: relative;
    border-radius: 6px;
    padding: 20px 30px;
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    margin-bottom: 45px;
}

.task-div {
    width: clamp(400px, 100%, 800px);
    height: fit-content;
    display: grid;
    grid-template-rows: 60px 60px fit-content(100px) fit-content(200px);
    grid-template-columns: 60px repeat(5, 1fr) repeat(2, 30px);
    position: relative;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 2px 2px 4px 2px
}

#content .display-off {
    display: none;
}


/*__________Tasks - Top Row (Title)__________*/

.task-div input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 3.6em;
    height: 3.6em;
    border-radius: 6px;
    cursor: pointer;
}

.task-div input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 5.6em;
    right: -8px;
    top: -0.23em;
    visibility: hidden;   
}

.task-div input[type="checkbox"]:checked::before {
    visibility: visible;
}

.task-div h3 {
    grid-area: 1 / 2 / 2 / 7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.edit-btn,
.delete-btn {
    /* expand and delete btns */
    display: flex; 
    align-self: center;
    justify-content: center;
    margin: 0px 12px 10px 0px;
    padding: 3px 3px;
    background-color: transparent;
    border: none;
}

.delete-btn img,
.edit-btn img {
    width: 30px;
    height: auto;
}



/*__________Tasks - Details and Description__________*/

.task-div .details {
    /* task details wrapper div */
    grid-area: 2 / 2 / 3 / 7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
}

.task-div .details div {
    /* all individual details divs */
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px 7px;
}

.task-div label {
    /* all individual details div labels */
   font-size: 1rem;
   font-weight: 700;
   margin-left: 9px;
   margin-bottom: 5px;
}

.task-div .details > div:nth-child(2) label {
    margin-left: 3px;
}

.task-div .details select,
.task-div .details input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.task-div .details select{
    /* Project/Priority div */
   padding: 4px 5px 4px 5px;
   width: 100%;
}

/* .task-div .details select:focus {
    outline: none;
} */

.task-div .details div:nth-child(1),
.task-div .details div:nth-child(3) {
    /* Project/Priority div */
   position: relative;
   max-width: 180px;
}

.task-div .details div:nth-child(1) .select-wrapper::after,
.task-div .details div:nth-child(3) .select-wrapper::after {
    /* Project/Priority div */
    font-size: 1.1rem;
    top: 2px;
    right: 12px;
}

.task-div .details div:nth-child(2) {
    max-width: 180px;
}

.task-div div:nth-child(6) {
    /* description div (collapsed)*/
    display: none;
}

.task-div.expanded div:nth-child(6) {
     /* description div (expanded)*/
    grid-area: 3 / 2 / 4 / 7;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 6px;
}

.task-div.expanded div:nth-child(6) label {
    margin-left: 12px;
    margin-bottom: 4px;
}

.task-div.expanded div:nth-child(6) textarea {
    align-self: center;
    width: 98%;
    padding: 7px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


/*__________Tasks - Checklist__________*/

.task-div .user-checklist-div {
    /* Checklist outer div */
    display: none;
}

.task-div.expanded .user-checklist-div {
    /* Outer div */
    grid-area: 4 / 2 / 5 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    margin: 20px 0px;
}

.task-div legend {
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-checklist-div ul {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.task-div li input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    margin-left: 10px;
}


.task-div li input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 2.5em;
    right: -7px;
    top: -0.29em;
    visibility: hidden;   
}

.task-div input[type="checkbox"]:checked::before {
    visibility: visible;
}

.task-div li {
    /* list items */
    display: flex;
    margin: 2px 0px;
    padding: 0px 3px;
    border-radius: 6px;
    align-items: center;
    width: 100%;
    height: 28px;
}

.task-div li.item-complete {
    text-decoration: line-through;
    position: relative;
}

.task-div li.item-complete::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.task-div li label {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    font-size: 1rem;
    position: relative;
}

#content .user-checklist-div li > button {
    margin-left: auto;
    margin-right: 5px;
    margin-top: -1px;
    padding: 0px 7px;
    position: relative;
}

.user-checklist-div > button {
    /* Outer div > add-button */
    align-self: center;
    margin: 10px;
    padding: 3px 20px 0px 20px;
}



/*__________Right Sidebar__________*/

.right-sidebar {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 140px 1fr;
}


/*__________Footer__________*/

.footer {
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding-top: 30px; */
} 

.footer-wrapper {
    /* height: 60px; */
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    position: relative;
    border-radius: 100% 0% 0% 0%;
    padding: 20px 50px 5px 60px;
}

.footer-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
}


.footer-icon > a {
    display: flex;
    /* align-items: flex-end; */
}

.footer-icon > a > .svg{
    height: 40px;
    margin-left: 10px;
}

.svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}




@media only screen and (max-width: 1250px) {

    body {
        display: grid;
        grid-template-rows: 100px minmax(calc(100vh - 180px), 1fr) 80px;
        grid-template-columns: 250px 1fr 50px;
        min-width: 1050px;
    }

    .header {
        display: grid;
        grid-template-columns: 250px 1fr 50px;
    }

    .title {
        grid-area: 1 / 1 / 2 / 2;
    }

    .project-header {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .date-display {
        display: none;
    }

    .left-sidebar {
        padding: 0px 15px;
    }

    .bg-img-wrapper {
        grid-area: 2 / 2 / 4 / 3;
    }

    .right-sidebar {
        grid-area: 2 / 3 / 3 / 4; 
        /* display: none; */
    }
}





/*__________Unused Code (Delete when finished)__________*/







