/* __________styles.css__________ */

/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________Colour Scheme__________*/


:root {
--softened-black: rgba(0, 0, 0, 0.898);
--translucent-white: rgb(255, 255, 255, 0.8);

/* CSS HSL from Northern Lights Bg */
--jungle-green: hsla(150, 32%, 49%, 1);
--eerie-black: hsla(144, 24%, 8%, 1);
--gray: hsla(180, 2%, 48%, 1);
--eggplant-dark: rgb(51, 43, 53);
--eggplant: hsla(286, 10%, 34%, 1);
--eggplant-light: rgb(117, 100, 123);
--eggplant-pale:rgb(150, 128, 158);
--lavender: rgb(202, 202, 202);
--pale-pink: rgb(245, 245, 245);
--viridian: hsla(156, 34%, 36%, 1);
--celadon: hsla(134, 61%, 77%, 1);

}


/*__________Root Styles__________*/

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    display: grid;
    grid-template-rows: 140px minmax(calc(100vh - 240px), 1fr) 50px;
    grid-template-columns: 350px 1fr 200px;
    /* width: minmax(600px, 100vw) */
}

button {
    font-size: 1.1rem;
    padding: 1px 5px;
    border-radius: 8px;
    border: 1px solid var(--eerie-black);
    background-color: var(--lavender);
}


/*__________Header__________*/

.header {
     /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 2 / 4;
     display: grid;
     grid-template-columns: 300px 1fr 200px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.logo img {
    width: 30px;
    height: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.title h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--pale-pink);
}

.date-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-display p {
    color: var(--pale-pink);
}


/*__________Left Sidebar__________*/

.left-sidebar {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 300px fit-content(200px) 100px 1fr;
    padding: 0px 40px;
    gap: 20px;
    background-color: black;
}

.left-sidebar button {
    background-color: var(--eggplant);
    color: var(--pale-pink);
    padding: 3px 15px;

}

.left-sidebar nav:first-child,
.left-sidebar nav:nth-child(2) {
    /* static project nav section
    and user created project section */
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    background-color: var(--eggplant-dark);
    padding: 10px;
    border-radius: 10px;
}

.left-sidebar nav:first-child {
    /* static project nav section */
    justify-content: space-evenly;
}

.left-sidebar button.active {
    background-color: var(--pale-pink);
    color: black;
}

.my-projects {
    /* my projects header */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.my-projects h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--pale-pink);
    margin-top: 20px;
}

.add-project {
    margin-top: 14px;
}

.user-created-projects {
    display: flex;
    flex-direction: column;
}

.user-created-projects li {
    /* project list items */
    display: flex;
    margin-bottom: 15px;
    padding: 3px 3px;
    
    align-items: center;
    width: 100%;
    height: 25px;
}

.user-created-projects button:nth-child(2) {
    /* delete project button */
    margin-left: auto;
    margin-right: 5px;
    padding: 0px 5px;
}


/*__________Modals (All)__________*/


dialog {
    /* display: flex; */
    width: 500px;
    /* height: auto; */
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background-color: white; 
    border: none;
    border-radius: 20px;
    padding: 30px;
    position: relative;   
}

legend {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1.4rem;
}

label {
    margin-bottom: 3px;
    font-size: 1rem;
}

input[type="text"] {
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid var(--eggplant);
    outline: 0;
    padding: 3px;
}

.save-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.save-div button {
    padding: 1px 7px;
}


/*__________Add Task Modal__________*/


.add-task form {
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 120px 30px;
    row-gap: 5px;
}

.add-task legend {
    grid-area: 1 / 1 / 2 / 4;
}

.add-task .close-modal {
    grid-area: 1 / 3 / 2 / 4;
}

.add-task .inputs {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-rows: repeat(2, 60px) 80px 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.add-task .task-title {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* .add-task label {
    margin-bottom: 3px;
    font-size: 1rem;
} */

/* .add-task .task-title input[type="text"] {
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid rgb(0, 100, 136);
    outline: 0;
    padding: 3px;
} */

.add-task .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.add-task .project, 
.add-task .due-date,
.add-task .priority {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* .add-task .project label, 
.add-task .due-date label,
.add-task .priority label {
    margin-bottom: 3px;
} */

.add-task .description {
    /* row-start / column-start / row-end / column-end */
    grid-area: 3 / 1 / 4 / 2 ;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .checklist {
    padding: 5px;
}

.add-task .add-checklist-items {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
}

.add-task .checklist input[type="text"] {
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 10px;
}

.add-task .checklist button {
    margin-top: 5px;
    padding: 1px 7px;
}

.add-task .save-div {
    grid-area: 3 / 2 / 4 / 4;
} 



/*__________Add Project Modal__________*/

dialog.add-project {
    width: 450px;
}

.add-project form {
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 120px 30px;
    row-gap: 18px;
}

.add-project .close-modal {
    grid-area: 1 / 3 / 2 / 4;
}

.add-project legend {
    grid-area: 1 / 1 / 2 / 4;
}

.project-title {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-project .save-div {
    grid-area: 3 / 2 / 4 / 4;
}


/*__________Delete Project Modal__________*/

#delete-warning form {
    display: grid;
    grid-template-rows: 30px 1fr 40px 40px;
    grid-template-columns: 1fr 140px 30px;
    row-gap: 18px;
}

#delete-warning legend {
    grid-area: 1 / 1 / 2 / 4
}

#delete-warning .close-modal {
    grid-area: 1 / 3 / 2 / 4;
}

#delete-warning div {
    grid-area: 2 / 1 / 3 / 4;
}

#delete-warning p:first-child {
    margin-bottom: 12px;
}

#delete-warning fieldset {
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    flex-direction: column;
}

#delete-warning fieldset div:first-child {
    margin-bottom: 10px;
}

#delete-warning fieldset div {
    display: flex;
}

#delete-warning input[type="radio"] {
    appearance: none;
}


#delete-warning input[type="radio"] {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid gray;
    vertical-align: -2px;
    outline: none;
}

#delete-warning input[type="radio"]::before {
    display: block;
    content: " ";
    width: 14px;
    height: 14px;
    border-radius: 6px;
    background-color: blueviolet;
    font-size: 1.2em;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}


#delete-warning input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.56, 2);
    transition-delay: 0s;

}

#delete-warning input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
}

#delete-warning label {
    align-self: center;
    margin-left: 10px;
    margin-top: 5px;
}

#delete-warning .save-div {
    grid-area: 4 / 2 / 5 / 4;
}

/*__________Checklist Modal__________*/

#checklist-modal form {
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 120px 30px;
    row-gap: 18px;
}

#checklist-modal legend {
    grid-area: 1 / 1 / 2 / 3;
}

#checklist-modal .input {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
} 

#checklist-modal .save-div {
    grid-area: 3 / 2 / 4 / 4;
}


/*__________Main Content__________*/

#content-wrapper {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
}

#content-wrapper::before {
    content: "";
    background-image: url('../img/northern-lights.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

.complete-view {
    display: none;
}

.complete-view.active {
    display: block;
    position: relative;
    background-color: var(--gray);
}

.tasks-done {
    display: none;
}

.tasks-done.active {
    display: block;
    position: relative;
    background-color: var(--gray);
}

.project-empty {
    display: none;
}

.project-empty.active {
    display: block;
    position: relative;
    background-color: var(--gray);
}

#content {
    /* width: minmax(600px, calc(100vw - 200px)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;

}

.task-div {
    /* task divs */
    min-width: 400px;
    width: 100%;
    max-width: 800px;
    height: fit-content;
    display: grid;
    grid-template-rows: 60px 60px fit-content(100px) fit-content(200px);
    grid-template-columns: 50px repeat(5, 1fr) repeat(2, 50px);
    position: relative;

    /* purple colour scheme */
    border: 3px solid var(--eggplant-pale);
    background: linear-gradient(to bottom right, var(--eggplant), var(--eggplant-pale), var(--eggplant));

    /* green colour scheme */
    /* border: 3px solid var(--jungle-green);
    background: linear-gradient(to bottom right, var(--eerie-black), var(--viridian), var(--eerie-black)); */

    /* scrap */
    /* background: linear-gradient(to bottom right, var(--viridian), var(--jungle-green)); */

    /* background: linear-gradient(to bottom right, var(--jungle-green), var(--celadon)); */

    /* background: linear-gradient(to bottom right, var(--eggplant-light), var(--lavender)); */

    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 5px 10px 5px
}

#content .display-off {
    display: none;
}


/*__________Tasks - Top Row (Title)__________*/

.task-div input[type="checkbox"] {
    appearance: none;
}

.task-div input[type="checkbox"] {
    position: relative;
    width: 3.9em;
    height: 3.9em;
    border: 3px solid var(--eggplant);
    border-radius: 10px;
    color: var(--eggplant-dark);
    background-color: var(--pale-pink);
}

.task-div input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 5.6em;
    right: -8px;
    top: -0.23em;
    visibility: hidden;   
}

.task-div input[type="checkbox"]:checked::before {
    visibility: visible;
}

.task-div h3 {
    grid-area: 1 / 2 / 2 / 7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--pale-pink);
}

.exp-col-btn,
.delete-btn {
    /* expand and delete btns */
    display: flex; 
    align-self: center;
    justify-content: center;
}




/*__________Tasks - Details and Description__________*/

.task-div .details {
    /* task details wrapper div */
    grid-area: 2 / 2 / 3 / 8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom right, var(--eggplant-dark), var(--eggplant), var(--eggplant-dark));

    
    border-radius: 5px;
}

.task-div .details div {
    /* all individual details divs */
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px 7px;
}

.task-div .details label {
    /* all individual details div labels */
   font-size: 1rem;
   color: var(--pale-pink);
   font-weight: 700;
   margin-left: 7px;
}

.task-div .details select,
.task-div .details input[type="date"] {
    appearance: none;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 3px solid var(--eggplant);
    /* max-width: 170px; */
}

.task-div .details select{
    /* Project/Priority div */
   padding: 2px 5px 2px 5px;
   width: 100%;
   border: 3px solid var(--eggplant);
}

.task-div .details input[type="date"] {
    font-family: inherit;
    padding: 1px 5px 0px 5px;
    background-color: var(--pale-pink);
}

.task-div .details select:focus {
    outline: none;
}

.task-div .details div:nth-child(1),
.task-div .details div:nth-child(3) {
    /* Project/Priority div */
   position: relative;
   max-width: 180px;
}

.task-div .details div:nth-child(1) div::after,
.task-div .details div:nth-child(3) div::after {
    /* Project/Priority div */
    content: "▼";
    font-size: 1.1rem;
    top: 23px;
    right: 15px;
    position: absolute;
}

.task-div .details div:nth-child(2) {
    max-width: 180px;
}

.task-div div:nth-child(6) {
    /* description div (collapsed)*/
    display: none;
}

.task-div.expanded div:nth-child(6) {
     /* description div (expanded)*/
    background-color: rgb(230, 227, 251);
    grid-area: 3 / 2 / 4 / 8;
    display: flex;
    flex-direction: column;
}

.task-div.expanded div:nth-child(6) textarea {
    background-color: rgb(190, 183, 255);
    align-self: center;
    width: 99%;
    padding: 7px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}


/*__________Tasks - Checklist__________*/

#content > div div:nth-child(7) {
    /* Checklist outer div */
    display: none;
}

#content > div.expanded div:nth-child(7) {
    /* Outer div */
    grid-area: 4 / 2 / 5 / 8;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 238, 239);
}

#content > div legend {
    font-size: 0.9rem;
    align-self: center;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#content li {
    /* list items */
    display: flex;
    margin: 2px 0px;
    padding: 3px 3px;
    background-color: rgb(255, 239, 206);
    align-items: center;
    width: 100%;
    height: 28px;
}

#content li label {
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    font-size: 0.9rem;
}

#content li input[type="checkbox"] {
    width: 25px;
    height: 18px;
}

#content li > button {
    margin-left: auto;
    margin-right: 5px;
    margin-top: -1px;
    padding: 0px 7px;
}

#content > div div:nth-child(7) button {
    /* Outer div > add-button */
    align-self: flex-start;
}


/*__________Tasks - Save/Cancel__________*/

/* #content > div div:nth-child(8) {
    /* save & cancel div
    grid-area: 5 / 5 / 6 / 8;
    display: flex;
    justify-content: space-evenly;
} */

/* #content > div div:nth-child(8) button { */
    /* save & cancel btns  */
    /* padding: 3px 4px;
    align-self: flex-end;
} */



/*__________Right Sidebar__________*/

.right-sidebar {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 140px 1fr;
    background-color: black; 
}

/* .calendar-display {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--eggplant)
} */


/*__________Footer__________*/

.footer {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-text {
font-size: 0.8rem;
color: var(--pale-pink);
}

.footer-icon > a {
    display: flex;
}

.footer-icon > a > .svg{
    height: 35px;
    margin-left: 8px;
}

.svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}




@media only screen and (max-width: 1150px) {

    body {
        display: grid;
        grid-template-rows: 140px minmax(calc(100vh - 240px), 1fr) 50px;
        grid-template-columns: 250px 1fr;
        min-width: 850px;
    }

    .header {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    .title {
        grid-area: 1 / 2 / 2 / 4;
    }
    
    .date-display {
        display: none;
    }

    .left-sidebar {
        padding: 0px 15px;
    }

    #content-wrapper {
        grid-area: 2 / 2 / 3 / 4;
    }

    .right-sidebar {
        grid-area: 3 / 1 / 4 / 4; 
        display: none;
    }

    .calendar-display {
        display: none;
    }
}





/*__________Unused Code (Delete when finished)__________*/







