/* __________styles.css__________ */

/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________Colour Scheme__________*/


:root {
--softened-black: rgba(0, 0, 0, 0.898);
--translucent-white: rgb(255, 255, 255, 0.8);

}


/*__________Root Styles__________*/

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 140px minmax(calc(100vh - 240px), 1fr) 100px;
    grid-template-columns: 150px 1fr 150px;
}

button {
    font-size: 1.1rem;
    padding: 1px 5px;
}


/*__________Header__________*/

.header {
     /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 2 / 4;
     display: grid;
     grid-template-columns: 150px 1fr 150px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 30px;
    height: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.date-div {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*__________Left Sidebar__________*/

.left-sidebar {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 200px 1fr 200px;
}

.left-sidebar nav:first-child,
.left-sidebar nav:nth-child(2) {
    /* static project nav section
    and user created project section */
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px 10px
}

.left-sidebar nav:first-child {
    /* static project nav section */
    justify-content: space-evenly;
}

.left-sidebar button.active {
    background-color: blueviolet;
    color: white;
}

.my-projects {
    /* my projects header */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.user-created-projects li {
    /* project list items */
    display: flex;
    margin: 2px 0px;
    padding: 3px 3px;
    background-color: rgb(201, 255, 153);
    align-items: center;
    width: 100%;
    height: 25px;
}

.user-created-projects button:nth-child(2) {
    /* delete project button */
    margin-left: auto;
    margin-right: 5px;
    padding: 0px 5px;
}


/*__________Modals__________*/

dialog {
    /* display: flex; */
    width: 500px;
    /* height: auto; */
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background-color: white; 
    border: none;
    border-radius: 20px;
    padding: 30px;
    position: relative;   
}

.add-task > form > div {
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 120px 30px;
    row-gap: 20px;
}

.add-task div legend {
     /* row-start / column-start / row-end / column-end */
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-self: center;
    justify-content: center;
}

.add-task .inputs {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-rows: repeat(2, 60px) 80px 1fr;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.add-task .task-title {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .task-title label {
    margin-bottom: 3px;
}

.add-task .task-title input[type="text"] {
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid rgb(0, 100, 136);
    outline: 0;
    padding: 3px;
}

.add-task .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.add-task .project, 
.add-task .due-date,
.add-task .priority {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .project label, 
.add-task .due-date label,
.add-task .priority label {
    margin-bottom: 3px;
}

.add-task .description {
    /* row-start / column-start / row-end / column-end */
    grid-area: 3 / 1 / 4 / 2 ;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.add-task .checklist {
    padding: 5px;
}

.add-task .add-checklist-items {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
}

.add-task .checklist input[type="text"] {
    border-radius: 5px;
    font-size: 0.8rem;
    border: 1px solid rgb(0, 100, 136);
    outline: 0;
    padding: 3px;
    margin-top: 10px;
}

.add-task .checklist button {
    margin-top: 5px;
    padding: 1px 7px;
}

.add-task .save-div {
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.add-task .save-div button {
    padding: 1px 7px;
    
}

/*__________Main Content__________*/

.complete-view-note {
    display: none;
}

.complete-view-note.active {
    display: block;
}

.today-tasks-complete {
    display: none;
}

.today-tasks-complete.active {
    display: block;
}

.project-empty {
    display: none;
}

.project-empty.active {
    display: block;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

#content > div {
    /* task divs */
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-rows: 50px 50px fit-content(100px) fit-content(200px) 30px;
    grid-template-columns: 50px repeat(5, 1fr) repeat(2, 25px);
    background-color:aliceblue;
    margin-bottom: 20px;
    border-radius: 5px;
}

#content .display-off {
    display: none;
}


/*__________Tasks - Top Row (Title)__________*/

#content div h3 {
    grid-area: 1 / 2 / 2 / 7;
    background-color:aqua;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.exp-col-btn,
.delete-btn {
    /* expand and delete btns */
    display: flex; 
    align-self: center;
    justify-content: center;
}


/*__________Tasks - Details and Description__________*/

#content div div:nth-child(5) {
    /* task details div */
    grid-area: 2 / 2 / 3 / 7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: greenyellow
}

#content > div div:nth-child(2) {
    /* Due date div */
    background-color: rgb(208, 141, 208);
}

#content > div textarea {
    /* description  */
    background-color: rgb(190, 183, 255);
    grid-area: 3 / 2 / 4 / 7;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}


/*__________Tasks - Checklist__________*/

#content > div div:nth-child(7) {
    /* Outer div */
    grid-area: 4 / 2 / 5 / 7;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 238, 239);
}

#content > div legend {
    font-size: 0.9rem;
    align-self: center;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#content > div div:nth-child(7) label {
     /* Outer div > label */
    display: flex;
    font-size: 0.8rem;
}

#content li {
    /* list items */
    display: flex;
    margin: 2px 0px;
    padding: 3px 3px;
    background-color: rgb(255, 239, 206);
    align-items: center;
    width: 100%;
    height: 25px;
}

#content li label {
    margin-left: 10px;
}

#content li input[type="checkbox"] {
    width: 25px;
    height: 18px;
}

#content li > button {
    margin-left: auto;
    margin-right: 5px;
    padding: 0px 5px;
}

#content > div div:nth-child(7) button {
    /* Outer div > add-button */
    align-self: flex-start;
}


/*__________Tasks - Save/Cancel__________*/

#content > div div:nth-child(8) {
    /* save & cancel div */
    grid-area: 5 / 5 / 6 / 8;
    display: flex;
    justify-content: space-evenly;
}

#content > div div:nth-child(8) button {
    /* save & cancel btns  */
    padding: 3px 4px;
    align-self: flex-end;
}



/*__________Right Sidebar__________*/

.right-sidebar {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: 140px 1fr;
}

.calendar-display {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: aqua;
}


/*__________Footer__________*/

.footer {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
font-size: 0.8rem;
}

.footer-icon > a {
    display: flex;
}

.footer-icon > a > .svg{
    height: 35px;
    margin-left: 8px;
}

.svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}




/*__________Unused Code (Delete when finished)__________*/



/*__________Main Content (Tasks Expanded)__________*/

/* #content > div.expanded {
    grid-template-rows: 50px 30px fit-content(200px) fit-content(200px) 30px 10px;
    grid-template-columns: 50px repeat(5, 1fr) repeat(2, 25px);
} */

/* #content > div.expanded p:nth-child(6) {
    /* description 
    background-color: rgb(190, 183, 255);
    grid-area: 3 / 2 / 4 / 7;
    display: flex;
    align-items: center;
} */

/* #content > div.expanded div:nth-child(7) {
    /* user-added checklist items div
    grid-area: 4 / 2 / 5 / 7;
    display: flex;
    flex-direction: column;
} */

/* #content > div.expanded div:nth-child(7) button {
    /* user added checklist button
    align-self: flex-start;
} */

/* #content > div.expanded div:nth-child(8) {
    /* save & cancel div
    grid-area: 5 / 5 / 6 / 8;
    display: flex;
    justify-content: space-evenly;
} */

/* #content > div.expanded div:nth-child(8) button {
    /* save & cancel btns 
    padding: 3px 4px;
    align-self: flex-end;
} */




